/* begin global styles */
html, body {
  font-size: 16px;
}
/* end global styles */

/* begin flexslider styles */
.flexslider {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}
.flex-control-nav {
  bottom: 0;
}
.flexslider .slides {
  padding: 0.8em 0;
}
.flex-control-paging {
  line-height: 0.5;
}
.flex-control-paging li a {
  background-color: rgb(197, 197, 197);
}
.flex-control-paging li a.flex-active {
  background-color: #fff;
}
.slides li {
  text-align: center;
}
/* end flexslider styles */

/* begin rest of styles */

#banner {
  margin: 15px 0;
  width: 100%;
  position: relative;
}
a.buttonlink {
  background-color: #333;
  font-size: 1.4em;
  padding: .7em 1em;
  text-align: center;
  float: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -moz-transition: .3s ease all;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a.buttonlink:hover,
a.buttonlink:active {
  background-color: rgb(251, 55, 49);
}
.title-button-wrapper {
  position: relative;
  padding: 00px 30px;
  margin-bottom: 0;
}
#content {
  font-size: 1.2em;
  line-height: 1.4;
}
#content h2 {
  line-height: 1.2;
  text-align: center;
  margin: 2em 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.social {
  list-style-type: none;
  position: absolute;
  right: 30px;
  top: 00px;
  margin: 0;
  padding-left: 0;
  top: -10px;

}
.social li {
  float: left;
  margin-left: 15px;
}
.social a, .social a, .social a {
  color: #333;
  text-decoration: none;
}
.social li a.facebook img {
  width: 25px;
  margin-top: -3px;
}
.social img {
  width: 30px;
  height: auto;
}
#features {
  background-color: #333;
}
#hero {
  margin-top: 0;
  margin-bottom: 0;
}
.main-title {
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
}
.sitcky-cta-container {
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 50px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}
.sitcky-cta-container .buttonlink {
  top: 5px;
  bottom: auto;
}
.counter-container {
  margin-top: 10px;
  font-size: 1.2em;
}
.counter {
  color: rgb(251, 55, 49);
}
.header-logo a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header-logo a:hover,
.header-logo a:focus {
  color: #000;
}
.signatures-wrapper {
  padding-bottom: 60px;
}
@media only screen and (max-width: 768px){
  .flexslider {
    font-size: 2em;
  }
  .main-title {
    font-size: 1.3em;
  }
  .header-logo {
    font-size: 1.8em;
  }
  a.buttonlink {
    font-size: 1em;
    width: 200px;
  }
  .sitcky-cta-container .buttonlink {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    top: auto;
    bottom: 5px;
  }
  .counter-container {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  .sitcky-cta-container {
    height: 120px;
    padding-top: 10px;
  }
  .social {
    top: -10px;
  }


}
@media only screen and (min-width: 769px){
  .flexslider {
    font-size: 4em;
  }
  .main-title {
    font-size: 2em;
  }
  .header-logo {
    font-size: 1.4em;
  }
  .social {
    top: 10px;
  }
}
/* end rest of styles */
