/* begin global styles */
html, body {
  font-size: 16px;
}
/* end global styles */

/* begin flexslider styles */
.flexslider {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}
.flex-control-nav {
  bottom: 0;
}
.flexslider .slides {
  padding: 0.8em 0;
}
.flex-control-paging {
  line-height: 0.5;
}
.flex-control-paging li a {
  background-color: rgb(197, 197, 197);
}
.flex-control-paging li a.flex-active {
  background-color: #fff;
}
.slides li {
  text-align: center;
}
/* end flexslider styles */

/* begin rest of styles */

#banner {
  margin: 15px 0;
  width: 100%;
  position: relative;
}
a.buttonlink {
  background-color: rgb(251, 55, 49);
  font-size: 1.4em;
  padding: .7em 1em;
  text-align: center;
  float: none;
  position: absolute;
  left: 50%;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  /*
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  */
  -moz-transition: .3s ease all;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a.buttonlink:hover,
a.buttonlink:active {
  background-color: #000;
}
.title-button-wrapper {
  position: relative;
  padding: 00px 30px;
  margin-bottom: 0;
}
#content {
  font-size: 1.2em;
  line-height: 1.4;
}
#content h2 {
  line-height: 1.2;
  text-align: center;
  margin: 2em 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.social {
  list-style-type: none;
  position: absolute;
  right: 30px;
  top: 00px;
  margin: 0;
  padding-left: 0;
  top: -10px;

}
.social li {
  float: left;
  margin-left: 15px;
}
.social a, .social a, .social a {
  color: #333;
  text-decoration: none;
}
.social li a.facebook img {
  width: 25px;
  margin-top: -3px;
}
.social img {
  width: 30px;
  height: auto;
}
#features {
  background-color: #333;
}
#hero {
  margin-top: 0;
  margin-bottom: 0;
}
.main-title {
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
}
.sitcky-cta-container {
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 50px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}
.temp-text {
  font-size: 2em;
  padding: 1em;
  text-align: center;
  line-height: 1.4;
}
.sitcky-cta-container .buttonlink {
  top: 0;
  bottom: 0;
}
#about-page #content {
  padding-bottom: 80px;
}
.counter-container {
  margin-top: 10px;
  font-size: 1.2em;
}
.counter {
  color: rgb(251, 55, 49);
}
.header-logo a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.header-logo a:hover,
.header-logo a:focus {
  color: #000;
}
.form-iframe{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;
  overflow-y: scroll;
}
.form-iframe.visible {
  display: block;
}
.up-arrow-scroll {
  position: fixed;
  display: none;
  width: 50px;
  height: auto;
  right: 30px;
  bottom: 100px;
  z-index: 1000;

}

.up-arrow-scroll img {
  display: block;
  width: 100%;
  height: 100%;
}
.quote {
  font-style: italic;
  color: #666;
}
.quote {
  padding-left: 30px;
  border-left: 4px solid #eee;
}
.quote .person {
  font-weight: bolc;
  color: #999;
  display: block;
  clear: both;
  margin-top: 10px;
}
.about {
  font-size: 1.3em;
  font-weight: bold;
}
.back {
  position: fixed;
  z-index: 20;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  display: none;
}
.back.visible {
  display: block;
}
.about:hover,
.about:focus {
  color: rgb(251, 55, 49);
}
.signatures-wrapper {
  padding-bottom: 60px;
}
@media only screen and (max-width: 768px){
  .flexslider {
    font-size: 2em;
  }
  .main-title {
    font-size: 1.3em;
  }
  .header-logo {
    font-size: 1.8em;
  }
  .up-arrow-scroll, .up-arrow-scroll img {
    display: none;
  }
  a.buttonlink {
    font-size: 1em;
    width: 200px;
  }
  .sitcky-cta-container .buttonlink {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    top: auto;
    bottom: 5px;
  }
  .counter-container {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  .sitcky-cta-container {
    height: 120px;
    padding-top: 10px;
  }
  .social {
    top: 0px;
  }
  #banner {
    text-align: left;
  }
  .temp-text {
    font-size: 1.8em;
  }

}
@media only screen and (min-width: 769px){
  .up-arrow-scroll {
    display: block;
  }
  .flexslider {
    font-size: 4em;
  }
  .main-title {
    font-size: 2em;
  }
  .header-logo {
    font-size: 1.4em;
  }
  .sitcky-cta-container .buttonlink {
    bottom: 0;
    line-height: 2.3;
    top: 0;
    height: 100%;
    margin:0;
  }
  .social {
    top: 0px;
  }
  .counter-container {
    text-align: right;
    position: absolute;
    float: none;
    left: calc(50% - 200px);
  }
  #about-page .sitcky-cta-container .buttonlink {
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
  }
  #about-page .counter-container {
    display: none;
  }

}
/* end rest of styles */
