/* begin global styles */
html, body {
  font-size: 16px;
}
/* end global styles */

/* begin flexslider styles */
.flexslider {
  font-size: 5em;
  font-family: 'Stardos Stencil', cursive;
  background-color: rgb(251, 55, 49);
  color: #fff;
  line-height: 1;
}
.flexslider .slides {
  padding: 1.8em 0;
}
.flex-control-paging {
  line-height: 0.5;
}
.flex-control-paging li a {
  background-color: rgb(197, 197, 197);
}
.flex-control-paging li a.flex-active {
  background-color: #fff;
}
.slides li {
  text-align: center;
}
/* end flexslider styles */

/* begin rest of styles */
.header-logo {
  width: 175px;
  height: auto;
}
#banner {
  margin: 15px 0;
  width: 100%;
  position: relative;
}
a.buttonlink {
  background-color: #ccc;
  font-size: 1.4em;
  padding: .7em 1em;
  text-align: center;
  float: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -moz-transition: .3s ease all;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a.buttonlink:hover,
a.buttonlink:active {
  background-color: rgb(251, 55, 49);
}
.title-button-wrapper {
  position: relative;
  padding: 30px 50px;
}
#content {
  font-size: 1.2em;
  line-height: 1.4;
}
#content h2 {
  line-height: 1.2;
  text-align: center;
  margin: 2em 0;
  font-weight: 800;
}
.social {
  list-style-type: none;
  position: absolute;
  right: 30px;
  top: 00px;

}
.social li {
  float: left;
  margin-left: 10px;
}
.social a, .social a, .social a {
  color: #333;
  text-decoration: none;
}
.social img {
  width: 30px;
  height: 30px;
}
#features {
  background-color: #333;
}
.main-title {
  line-height: 1.2;
}
.sitcky-cta-container {
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 20px 50px;
}
.sitcky-cta-container .buttonlink {
  top: 5px;
  bottom: auto;
}
.counter-container {
  margin-top: 10px;
  font-size: 1.2em;
}
.counter {
  color: rgb(251, 55, 49);
}
/* end rest of styles */
