{% extends "base.html" %}

{% block content %}

<!-- main content area -->
<div id="main" class="wrapper clearfix">

<!-- content area -->
<section id="content" class="wide-content">

  <h1>About</h1>

  <p>
  Silicon Valley Stands is not a political organization. We are open to every corner of the political spectrum, just as our group’s members represent every corner of the world, every nationality, every religion, ethnicity, gender, age and background. Just like Silicon Valley, we represent the full tapestry of this unique identity we all share: Americans.
Our commonality is that we stand united to defend the founding principles and values of this country that we all love so dearly. The freedoms we enjoy in this country have been earned through blood and sweat, and it is our duty to past generations of Americans, and the generations that will follow us, to be the guardians of those freedoms.
  </p>

  <p class="quote">
  “(Freedom) is never more than one generation away from extinction. It is not ours by inheritance; it must be fought for and defended constantly by each generation.”
  <span>- Ronald Reagan</span>
  </p>

“(Freedom) is never more than one generation away from extinction. It is not ours by inheritance; it must be fought for and defended constantly by each generation.”
Ronald Reagan

“We may have all come on different ships, but we're in the same boat now."
Martin Luther King, Jr.

  <p>
    About content goes here.
    </p

</section><!-- #end content area -->
</div><!-- #end div #main .wrapper -->

<!-- colored section -->
<section id="features"  class="greenelement signatures-wrapper vertical-padding">
	<div class="wrapper clearfix">

    <h1>Signed,</h1>

    <div class="signatures-group row vertical-padding">
    {% for row in signatures %}
      {% for signature in row %}
        <div class="grid_4">
       	  <h3>{{ signature.name }}</h3>
       	  <p>
            {{ signature.title }}
	    <br />{{ signature.company }}
          </p>
        </div>
      {% endfor %}
    {% endfor %}
    </div><!-- #end div .wrapper -->

</section><!-- #end colored section -->

{% endblock %}
