{% extends "base.html" %}

{% block content %}

<!-- main content area -->
<div id="main" class="wrapper clearfix">

<!-- content area -->
<section id="content" class="wide-content">

  <h1>About</h1>

  <p>
    <em>Silicon Valley Stands</em> is not a political organization. We are open to every corner of the political spectrum, just as our group’s members represent every corner of the world, every nationality, every religion, ethnicity, gender, age and background. Just like Silicon Valley, we represent the full tapestry of this unique identity we all share: Americans.
  </p>

  <p>

    This includes residents of all categories: native‑born, naturalized, green card/visa holders, refugee and any other.
  </p>
  <p>
    Our commonality is that we stand united to defend the founding principles and values of this country that we all love so dearly. The freedoms we enjoy in America have been earned through blood and sweat; and it is our duty to past generations of Americans, and the generations that will follow us, to be the guardians of those freedoms.
  </p>

  <p>

    The Tech Industry holds a significant place in the US economy, and some of the largest contributions in our industry have been/are made by immigrants and the children of immigrants. Our goal is to harness the collective power of our industry to help protect essential freedoms for all people in this great nation.
  </p>


  <p class="quote">
    “[Freedom] is never more than one generation away from extinction. It is not ours by inheritance; it must be fought for and defended constantly by each generation.”
    <span class="person">- Ronald Reagan</span>
  </p>

  <p class="quote">
    “We may have all come on different ships, but we're in the same boat now."
    <span class="person">- Martin Luther King, Jr.</span>
  </p>
  <br>
  <br>
  <p>
    You may contact us at: <script type="text/javascript">
   		emailE=('svstands@' + 'gmail.com')
   	 	document.write('<a href="mailto:'+emailE+'" style="color: #666">'+emailE+'</a>') </script>
  </p>


</section><!-- #end content area -->
</div><!-- #end div #main .wrapper -->


{% endblock %}
