{% extends "base.html" %}

{% block body_id %}about-page{% endblock %}

{% block content %}

<!-- main content area -->
<div id="main" class="wrapper clearfix">

<!-- content area -->
<section id="content" class="wide-content">

  <h1>About</h1>

  <p>
    <em>Silicon Valley Stands</em> is not a political organization. We are open to every corner of the political spectrum, just as our group’s members represent every corner of the world, every nationality, every religion, ethnicity, gender, age and background. Just like Silicon Valley, we represent the full tapestry of this unique identity we all share: Americans.
  </p>

  <p>

    This includes members of the American workforce from all industries and all categories: native‑born, naturalized, green card/visa holder, refugee and any other.
  </p>
  <p>
    Our commonality is that we stand united to defend the founding principles and values of this country that we all love so dearly. The freedoms we enjoy in America have been earned through blood and sweat; and it is our duty to past generations of Americans, and the generations that will follow us, to be the guardians of those freedoms.
  </p>

  <p>
    The Tech Industry holds a significant place in the US economy, and some of the largest contributions in our industry have been/are made by immigrants and the children of immigrants. Our goal is to harness the collective power of our industry to help protect essential freedoms for all people in this great nation.
  </p>


  <p class="quote">
    “[Freedom] is never more than one generation away from extinction. It is not ours by inheritance; it must be fought for and defended constantly by each generation.”
    <span class="person">- Ronald Reagan</span>
  </p>

  <p class="quote">
    “We may have all come on different ships, but we're in the same boat now."
    <span class="person">- Martin Luther King, Jr.</span>
  </p>
  <br>
  <br>  
  <h1>FAQ</h1>
  <p>
  <em>1. Who can sign the letter?</em><br>
  Any worker from any US industry (or geographic region) can sign the letter. This campaign started as an effort to gather support from the Silicon Valley Tech Industries; but in lieu of the great interest it received from other industries and locations, the effort was expanded to include all US residents working across all industries.
  </p>

  <p>
  <em>2. I think I’ve already signed a similar letter recently; is this the same letter?</em><br>
  Our campaign has evolved and grown quickly! Initially, our letter was sent out from <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiNUZ8g-eynVnckqymG5E4KaD6ttsP73R655N0WiXEOAo1_Q/viewform?c=0&w=1" style="color: #666">this link</a>. If you already signed that letter, you do not need to sign again. Thank you for your support! (We will publish a verified list of signatures periodically. If you’re unsure whether you previously signed this letter, you can check that list.) We will remove duplicate signatures, in case you are concerned you have signed twice.
  </p>

  <p>
  <em>3. Does the list contain duplicate signatures?</em><br>
  This list of signatories is verified and updated, using both manual and automatic methodologies. All duplicate signatures are periodically resolved.
  </p>
  
  <p>
  <em>4.  I have signed the letter, but have changed my mind. What can I do?</em><br>
  Please send an email to <script type="text/javascript">
   		emailE=('svstands@' + 'gmail.com')
   	 	document.write('<a href="mailto:'+emailE+'" style="color: #666">'+emailE+'</a>')</script> from the same email address that you’ve submitted, and we will remove your name as soon as possible.
  </p>
  
  <p>
  <em>5. How will my email and personal information be used?</em><br>
  SiliconValleyStands.org will use your personal information only for its campaign, verifications, publishing on its website (excluding emails) and to contact you with relevant information about future updates from SiliconValleyStands.org (you can always opt-out from such communications). SiliconValleyStands.org will never sell your information.
  </p>

  <p>
  <em>6. I signed with my full name, but only my first name is appearing. Why?</em><br>
  Because we take the privacy of our campaign members seriously, we only publish first names.
  </p>
  
  <p>
  <em>7. Am I signing on behalf of my company?</em><br>
  No, by submitting your signature, you acknowledge that you support this letter in your personal capacity. SiliconValleyStands.org is an effort supported by individuals.
  </p>
  <br>
  <br>
  <h1>Contact</h1>
  <p>
    You may contact us at: <script type="text/javascript">
   		emailE=('svstands@' + 'gmail.com')
   	 	document.write('<a href="mailto:'+emailE+'" style="color: #666">'+emailE+'</a>')</script>
  </p>
  <br>
  <br>
  <h1>Privacy Policy</h1>
  
  <p>SiliconValleyStands.org stands for the freedom of everyone in the US, regardless of their nationality, ethnicity or origin.</p>

  <p>SiliconValleyStands.org will use your personal information only for its campaign (particularly to publish it on this website), and to contact you with relevant information and updates from SiliconValleyStands.org (you can opt-out from such communications at any time). SiliconValleyStands.org will never ever sell your information.</p>

  <p>Also, to protect privacy, we only show your first name, title and company on the main page. If you’d like to remove your name, Please send an email to <script type="text/javascript">
   		emailE=('svstands@' + 'gmail.com')
   	 	document.write('<a href="mailto:'+emailE+'" style="color: #666">'+emailE+'</a>')</script> from the same email address that you’ve submitted, and we will remove your name as soon as possible.</p>

  <p>1/28/2017</p>

</section><!-- #end content area -->
</div><!-- #end div #main .wrapper -->


{% endblock %}
