<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Silicon Valley Stands</title>
<meta name="description" content="Silicon Valley Stands for Diversity">
<meta name="keywords" content="">

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,700|Roboto:300,400,500,700" rel="stylesheet">


<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="js/flexslider/flexslider.css">
<link rel="stylesheet" href="css/colorblocks-style.css">
<link rel="stylesheet" href="css/style.css">

<!-- end CSS-->

<!-- JS-->
<script src="js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->


</head>

<body id="home">

<!-- Begin Sticky CTA area -->
<div class="sitcky-cta-container">
  <a href="#" class="buttonlink" align="center">Sign the Letter</a>
  <div class="counter-container">
    <span class="counter">
      {{ num_signatories }}
    </span>
    Have signed
  </div>
</div>
<!-- End Sticky CTA area -->


<!-- header area -->
    <header class="wrapper clearfix">

        <div id="banner">
        	<div id="logo" class="header-logo">
            <a href="https://twitter.com/SVStands">
              #SVStands
            </a>
          </div>

          <ul class="social">
            <li>
              <a class="about" href="./about">
                About
              </a>
            </li>
            <li>
              <a class="facebook" href="https://www.facebook.com/SiliconValleyStands/" target="_blank">
                <img src="images/facebook.png" alt="facebook">
              </a>
            </li>
            <li>
              <a class="twitter" href="https://twitter.com/SVStands" target="_blank">
                <img src="images/twitter.png" alt="twitter">
              </a>
            </li>
          </ul>
        </div>


    </header><!-- end header -->

    <!-- begin flexslider -->
    <div class="flexslider">
      <ul class="slides">
        <li>
          Silicon Valley Stands <br /> for Diversity
        </li>
        <li>
          Silicon Valley Stands <br /> for Inclusion
        </li>
        <li>
          Silicon Valley Stands <br /> for Immigrants
        </li>
        <li>
          Silicon Valley Stands <br /> Together
        </li>
      </ul>
    </div>
    <!-- end flexslider -->

{% block content %}{% endblock %}

<!-- footer area -->
<footer>
	<div id="colophon" class="wrapper clearfix">

    </div>

</footer><!-- #end footer area -->


<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>

<script defer src="js/flexslider/jquery.flexslider-min.js"></script>

<!-- fire ups - read this file!  -->
<script src="js/main.js"></script>

</body>
</html>
