<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>Silicon Valley Stands</title>

    <meta property="og:image" content="http://siliconvalleystands.org/images/social.png"/>
    <meta property="og:title" content="An Open Letter from the US Industries Regarding Travel Ban Executive Order"/>
    <meta property="og:site_name" content="#SVStands"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- made by www.metatags.org -->
    <meta name="description" content="Silicon valley stands for diversity" />
    <meta name="keywords" content="no muslim ban, silicon valley helps us economy, the US depends on immigrants, no to executive order, diversity, ban, muslimban, muslim ban, inclusion, eo, executive order, silicon valley, sc, silliconvalley" />
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <!--  -->

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SVStands" />
    <meta name="twitter:creator" content="@SVStands" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Silicon Valley Stands for Diversity" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

    <link href="js/share/plugin.css" media="all" rel="stylesheet" />

    <link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Lato:300,700|Roboto:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="js/flexslider/flexslider.css" />
    <link rel="stylesheet" href="css/colorblocks-style.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36868551-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body id="{{ name }}">

    <a href="#" class="up-arrow-scroll">
      <img src="images/up.png">
    </a>

    <div class="sitcky-cta-container">
      <a data-type="iframe" href="https://docs.google.com/forms/d/e/1FAIpQLScOH4yMtuYrYIC-AUf1JTHc7bMZgqHRJ6rQ-_HShQGKIi31BQ/viewform?embedded=true" class="buttonlink venobox" align="center">Sign the Letter</a>


      <span class="socialShare"></span>


      <div class="counter-container">

        <!-- <span class="counter">
          {{ num_signatories }}
        </span> -->

        <span class="counter">
          1,465
        </span>
        Have signed
        <br>
        <span class="timestamp">As of Feb 1st, 1pm PST</span>
      </div>


    </div>


    <header class="wrapper clearfix">
      <div id="banner">
        <div id="logo" class="header-logo">
          <a href="/">
            #SVStands
          </a>
        </div>

        <ul class="social">
          <li>
            <a class="about" href="./about">
              About
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/SiliconValleyStands/" target="_blank">
              <img src="images/facebook.png" alt="facebook">
            </a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/SVStands" target="_blank">
              <img src="images/twitter.png" alt="twitter">
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div class="flexslider">
      <ul class="slides">
        <li>
          Silicon Valley Stands<br />for Diversity
        </li>
        <li>
          Silicon Valley Stands<br />for Inclusion
        </li>
        <li>
          Silicon Valley Stands<br />for Immigrants
        </li>
        <li>
          Silicon Valley Stands<br />Together
        </li>
      </ul>
    </div>



    {% block content %}{% endblock %}

    <footer>
      <div id="colophon" class="wrapper clearfix">

      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>
    <!-- Add venobox -->
    <link rel="stylesheet" href="js/venobox/venobox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/venobox/venobox.min.js"></script>
    <script type="text/javascript" src="js/waypoints/jquery.waypoints.min.js"></script>
    <script src="js/share/plugin.js"></script>
    <script defer src="js/flexslider/jquery.flexslider-min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
